# ── Pré-production — EXEMPLE (copier en .env.preprod) ─────────
# Renommer en .env.preprod et renseigner les valeurs réelles

POSTGRES_USER=localizi_preprod
POSTGRES_PASSWORD=CHANGER_CE_MOT_DE_PASSE
POSTGRES_DB=localizi_preprod_db

SECRET_KEY=GENERER_UNE_CLE_SECRETE_ICI_python3_-c_"import_secrets;print(secrets.token_hex(32))"
CORS_ORIGINS=http://IP_SERVEUR_OVH,http://preprod.votre-domaine.tn
