/* Container principal */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f0f4f8;
}

/* Formulaire */
.login-form {
  margin-top:-10%;
  background: #ffffff;
  padding: 40px 50px;
  border-radius: 20px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.1);
  width: 400px;
  max-width: 90%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  transition: transform 0.3s ease;
}

.login-form:hover {
  transform: translateY(-5px);
}

/* Titre */
.login-form h2 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 32px;
  font-weight: 700;
  background: linear-gradient(135deg, #80a1d4, #75c9c8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Inputs */
.login-form input {
  width: 100%;
  padding: 14px 20px;
  border-radius: 12px;
  border: 1px solid #ccc;
  font-size: 16px;
  background: #f0f4f8;
  color: #666; /* reste toujours #666 */
  transition: all 0.3s;
}

.login-form input:focus {
  outline: none;
  background: #f0f4f8; 
}

/* Bouton */
.login-form button {
  width: 100%;
  padding: 16px;
  font-size: 16px;
  border-radius: 12px;
  border: none;
  background: linear-gradient(135deg, #80a1d4, #75c9c8);
  color: white;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.3s;
  box-shadow: 0 5px 15px rgba(117, 201, 200, 0.4);
}

.login-form button:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 20px rgba(117, 201, 200, 0.6);
}

/* Erreur */
.error {
  color: red;
  margin-top: 10px;
  text-align: center;
  font-size: 14px;
}

/* Password wrapper */
.password-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.toggle-password {
  position: absolute;
  right: 15px;
  top: 55%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #666;
  transition: color 0.3s;
}

.toggle-password:hover {
  color: #75c9c8;
}
