/* src/css/RechercheAnnonceCarte.css */

.search-filters-container {
  position: relative;
  z-index: 10;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9); /* légèrement translucide si tu veux */
  padding: 1rem;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}



.map-fullscreen-container {
  width: 100%;
  height: 150%;
  position: relative;
  margin-top:-20px;
}

/* Si MapView a un div interne, assure-toi qu'il prend 100% */
.map-fullscreen-container > div {
  width: 100%;
  height: 150%;
}


/* Force la hauteur du conteneur Leaflet */
.leaflet-container {
  height: 500px !important;
  width: 100%;
  /* border-radius: 16px; */
}